body{
    font-family: 'Open Sans', sans-serif;
    background-image: linear-gradient(to right, #8ec5fc, #ba7af8);
    display: block

}
main{    
    background-color: #ffffff;
    width: 90%;
    height: 100%;
    margin: 0 auto;        
}


.titulo{    
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo h1{    
    font-size: 16px;
}


/* ------Botões------- */

.btnAdd{
    background-color: #ba7af8;
    font-weight: bold;
    border: none;
    width: 100%;
    border-radius: 2px;   
    height: 40px;
    color: #ffffff;
    border-radius: 16px;     
}

.allToDo{
    display: flex
}


.toDo{

}



.erro{
    font-size: 16px;
    background-color: pink;
    padding: 15px 5px;
    border-radius: 5px;
    border-color: red;
    color:red;
    text-align: center;
    justify-content: center;    
}

.inputTarefa{
    border: none;
    background-color: #ffffff;
    width: 100%;
    border-radius: 2px;   
    height: 60px;
    display: flex
}

.textoTarefa{
    min-width:40px;

}

.tarefa {
background-color: #ffffff;
border-bottom: 1px solid grey; 
min-height: 50px;
display: flex;
justify-content: space-between;

}


.checkTarefa{    
text-decoration: line-through;
}

.checkTodos{
    text-decoration: line-through;
}

.botaoX{
   display: flex;
   border: none;
   background-color: white;
   width: 40px;
    
}

.allBtn{
    display: flex;  
    border: none;
}


.btnDelete {
    background-color: #f87a7a;
    font-weight: bold;
    border: none;
    width: 60%;
    /* border-radius: 2px;    */
    height: 40px;
    color: #ffffff;
    border-radius: 18px;
}


.btnSelect {
    background-color: #8ff87a;
    font-weight: bold;
    border: none;
    width: 60%;
    border-radius: 2px;   
    height: 40px;
    color: #ffffff;
    border-radius: 18px;   
}

.btnDeleteRiscado{
    background-color: #6a71d8;
    font-weight: bold;
    border: none;
    width: 60%;
    border-radius: 2px;   
    height: 40px;
    color: #ffffff;
    border-radius: 18px; 
}



.containt ul{
    padding: inherit;
}




     /*** MEDIA QUERIES ***/

@media (min-width: 414px) {
    .main{
        width: 90%;
    }

    .titulo h1 {
        font-size: 21px;
    }

    .inputTarefa{
        font-size: 18px
    }
    
    .btnSelect {
        font-size: 16px;
    }

    .btnDelete{
        font-size: 16px;
    }

    .erro{
        font-size: 18px
    }

    .tarefa{
        font-size: 18px;  
    }
}


    @media (min-width: 768px) {

        .main{
            width: 50%;
        }

        .titulo h1 {
            font-size: 24px;           
        }

        .inputTarefa {
            font-size: 21px;
        }

        .btnAdd {
            font-size: 17px
        }











        

}





